<main class="page bg-white" id="petratings">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white">
        <div class="container">
          <app-add (addEvt)="addNewApt($event)"></app-add>
          <app-searc 
          (queryEvt)="searchApt($event)"
          [orderBy]="orderBy"
          [orderType]="orderType"
          (orderEvt)="orderByHande($event)"
          ></app-searc>
          <app-list [appList]="theModifiedList" (updateEvt)="updateApt($event)"  (deleteEvent)="deleteApt($event)"></app-list>
        </div>
      </div>
    </div>
  </div>
</main>